@font-face {
    font-family: 'Calligraph';
    src: url('calligraph-400-normal.woff2') format('woff2'), url('calligraph-400-normal.woff') format('woff'), url('calligraph-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}